body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}
p{
  color: white;
}

#Titulo{
  color: white; /*Cambia el color*/
  font-family: Verdana; /*cambia el tipo de letra*/
  font-weight: 20;/*cambia el grosor de la letra*/
  color: white;
  text-align: center;
  font-size: 50px;
}

#container1 {
  background-image: url(https://images.unsplash.com/photo-1644268394651-e0b165a072a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
}


#container3 {
  background-color: white;
  ;
}

#container2 {
  background-color: black;
  display: flex; /* Convertir el contenedor principal en un contenedor flexible */
  justify-content: space-around; /* Espacio igual entre sub-contenedores */
  align-items: center; /* Centrar verticalmente los sub-contenedores */
}

.sub-container {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente para los sub-contenedores */
  margin: 20px; /* Espacio entre los sub-contenedores */
  padding: 10px;
  text-align: center;
  flex: 1; /* Distribuir espacio de manera igual entre los sub-contenedores */
}

.sub-container-inner {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para el contenido dentro de los sub-contenedores */
  padding: 10px;
  border-radius: 10px;
}

.sub-container img {
  max-width: 100%;
  height: auto;
}

.sub-container h2 {
  color: white;
  font-size: 24px;
  margin-top: 10px;
}


.sub-container img {
  width: 200px; /* Establece el ancho deseado, por ejemplo, 200 píxeles */
  height: 200px; /* Mantén la proporción original de la imagen ajustando solo el ancho */
}


/* Agrega un estilo predeterminado para la descripción */
/* Establece el estilo predeterminado para la descripción */
.sub-container {
  position: relative;
  overflow: hidden; /* Para ocultar la descripción inicialmente */
}

.sub-container .description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Cuando el mouse pasa sobre el sub-contenedor, muestra la descripción */
.sub-container:hover .description {
  opacity: 1;
}

