body{
    background-color: #135996;
    margin: 0;
    padding: 0;
  }

  b{
    color: #ffffff;
    font-size: 30px; /* Elige el tamaño de fuente que desees */
  }

  h1{
    text-decoration: underline; /* Aplica un subrayado al texto del h1 */
    color: white;
    text-align: center;
 } 

  .contenedor {
    background-color: black;
    display: flex; /* Establece el contenedor como un contenedor flexible */
    justify-content: space-between; /* Alinea los elementos hijos horizontalmente */
    flex-direction: row;/*Establece que el orden es en horizontal*/
    flex-wrap: wrap; /*Permite meter items y crear multilineas*/
    justify-content: space-evenly; /*Separa a los sub-containers en spacios iguales*/
    overflow: hidden; /* Controlar el desbordamiento */
  }

.elemento img {
    width: 100%;
    height: 100%;
    border-radius: 15px;   
  }
.elemento {
    width: 30%;
    height: 35%;
    margin: 10px; /* Espacio entre los elementos */
    text-align: center; /* Alinea el contenido al centro horizontalmente */
  }
.elemento a{
    color: white;
    font-size: 25px;
    margin-top: 0px;
    font-family: Verdana; /*cambia el tipo de letra*/
    font-weight: 20;/*cambia el grosor de la letra*/
  }
#contenedor1{
    width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
    height: 80vh; /*Ocupa el total del alto de la pantalla*/
  }
  #contenedor2{
    width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
    height: 80vh; /*Ocupa el total del alto de la pantalla*/
  }
  #contenedor3{
    width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
    height: 60vh; /*Ocupa el total del alto de la pantalla*/
  }
  #contenedor4{
    width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
    height: 60vh; /*Ocupa el total del alto de la pantalla*/
  }
  #contenedor5{
    width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
    height: 60vh; /*Ocupa el total del alto de la pantalla*/
  }
  #contenedor6{
    width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
    height: 60vh; /*Ocupa el total del alto de la pantalla*/
  }
  #contenedor7{
    width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
    height: 60vh; /*Ocupa el total del alto de la pantalla*/
  }
